include application 
script(src='/js/index.js?q='~randomString())
script(src="https://cdn.plot.ly/plotly-2.18.2.min.js")
.container-fluid
    .row 
        .col-2
            .row
                label(for="select_folder")="Датасет" 
                select.form-select#select_folder
        .col-2 
            .row 
                label(for="metric")="Метрика"
                select.form-select#metric
        .col-2
            .row 
                label(for="n_neighbors")="Размер локальной окрестности"
                input.form-control#n_neighbors(value="10" tooltip="Размер локальной окрестности (с точки зрения количества соседних точек выборки), используемой для аппроксимации многообразия. Большие значения приводят к более глобальному представлению коллектора, а меньшие значения приводят к сохранению большего количества локальных данных. Обычно значения должны быть в диапазоне от 2 до 100.")
        .col-2
            .row 
                label(for="n_components")="Размер пространства для встраивания"
                input.form-control#n_components(value="2" tooltip="Размер пространства для встраивания. По умолчанию это значение равно 2, чтобы упростить визуализацию, но разумно установить любое целочисленное значение в диапазоне от 2 до 100.")
        .col-2
            .row 
                button.btn.btn-primary#calculate_umap(style="display: block")="Calculate UMAP"
                button.btn.btn-primary#show_umap(style="display: none")="Show UMAP"
    .row
        .col-6#images_box(style="height: 100vh; overflow-y: auto")
        
        .col-6#umap_box
.div_alerts(style="position: fixed; left:50px; top: 70px")
    .alert.alert-success#success_message(style="display: none")
    .alert.alert-danger#error_message(style="display: none")
.modal.fade(id="modal_img", tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.modal-xl
        .modal-content
            .modal-header
                h5.setting-icn.modal-title#img_name=''
                button(type="button" class="btn btn-light close" data-bs-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")&times;
            .modal-body.d-flex.justify-content-center
                img.h-100#img_show
    